{{ define "main" }}
<div class="carousel-container" id="carousel">
    <div class="carousel-nav prev" onclick="moveSlide(-1)">&#10094;</div>
    <div class="carousel-nav next" onclick="moveSlide(1)">&#10095;</div>
</div>

<script>
    const allGalleryImages = [
    {{ $slides := slice }}
    {{ with .Site.GetPage "section" "gallery" }}
        {{ range .Sections }}
            {{ range .Resources.ByType "image" }}
                {{ $w1200 := .Resize "1200x" }}
                {
                    "original": "{{ .RelPermalink }}",
                    "resized": "{{ $w1200.RelPermalink }}",
                    "date": "{{ replaceRE "^(\\d{4})(\\d{2})(\\d{2}).*" "$1.$2.$3" .Name }}"
                },
            {{ end }}
        {{ end }}
    {{ end }}
    ];
</script>
{{ end }}
